# Java build files
*.class
*.jar
*.war

# Maven
/target/
*.class
*.jar


# Gradle
build/

# IDE
.idea/
.vscode/
*.iml

# Database dumps
*.sql

# Logs
*.log

# Uploads
uploads/
ai_verification/uploads/
/backend/target/
/backend/**/*.class
*.jar