# Maven / Java build files
backend/target/
target/

# ===== Java / Spring Boot =====
*.class
*.jar
*.war

# Maven / Gradle build output
/target
/backend/target/
build/

# ===== IDE files =====
.idea/
.vscode/
*.iml

# ===== Database =====
*.sql

# ===== Logs =====
*.log

# ===== Uploads =====
uploads/
ai_verification/uploads/

# ===== Safety =====
/backend/**/*.class

backend/uploaded_documents/
*.json
*.ps1

# ===== Node / Frontend deps =====
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log**.zip
